@import url('../content-title/content-title.css');
@import url('../content-subtitle/content-subtitle.css');
@import url('__container/comments__container.css');

.comments {
	font-family: 'Inter', Arial, sans-serif;
	padding: 0 48px;
}

@media screen and (min-width: 450px) and (max-width: 768px) {
	.comments {
		padding: 0 24px;
	}
}

@media screen and (max-width: 449px) {
	.comments {
		padding: 0 16px;
	}
