@import url('__bg/cover__bg.css');
@import url('__subtitle/cover__subtitle.css');
@import url('__title/cover__title.css');

.cover__link {
	width: 100%;
	height: 100%;
	z-index: 1;
	position: relative;
	text-decoration: none;
	color: #FFFFFF;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.cover__link:after {
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.3;
	background: #2A2C2F;
	border-radius: 5px;
	position: absolute;
	transition: opacity .3s linear;
}

.cover__link:hover:after {
	opacity: 0.8;
}