@import url('__image/place__image.css');
@import url('__text/place__text.css');
@import url('__title/place__title.css');
@import url('__website/place__website.css');

.place {
	display: grid;
	grid-template-columns: 460px 484px;
	grid-auto-rows: minmax(133px, auto);
	grid-gap: 60px 40px;
}

.place:last-child {
	margin-bottom: 0;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
	.place {
		grid-template-columns: 46.37% auto;
		grid-gap: 40px 32px;
	}
}

@media screen and (min-width: 570px) and (max-width: 768px) {
	.place {
		grid-template-columns: 46.37% auto;
		grid-gap: 40px 28px;
	}
}

@media screen and (max-width: 569px) {
	.place {
		grid-template-columns: 1fr;
		grid-auto-rows: auto;
		grid-row-gap: 24px;
	}	
}