.place__paragraph {
	margin: 0 0 36px;
	font-size: 18px;
	line-height: 30px;
}

.place__paragraph:last-child {
	margin-bottom: 0;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	.place__paragraph {
		margin: 0 0 24px;
	}
}

@media screen and (min-width: 450px) and (max-width: 768px) {
	.place__paragraph {
		font-size: 16px;
		line-height: 27px;
		margin: 0 0 24px;
	}
}

@media screen and (max-width: 450px) {
	.place__paragraph {
		font-size: 16px;
		line-height: 27px;
		margin: 0 0 24px;
		padding: 0 16px;
	}
}