.place__title {
	font-weight: 900;
	font-size: 72px;
	line-height: 65px;
	align-self: end;
	margin: 72px 0 0 0;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
	.place__title {
		margin: 85px 0 0 0;
	}
}

@media screen and (min-width: 450px) and (max-width: 768px) {
	.place__title {
		font-size: 42px;
		line-height: 46px;
	}
}

@media screen and (max-width: 449px) {
	.place__title {
		margin: 50px 16px 8px;
		font-size: 32px;
		line-height: 35px;
	}
}