.lead__title {
	max-width: 782px;
	font-weight: 900;
	font-size: 96px;
	line-height: 93px;
	text-align: center;
	margin: 48px auto;
	padding: 0 48px;
	text-rendering: optimizeLegibility;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	.lead__title {
		padding: 0 24px;
	}
}

@media screen and (min-width: 450px) and (max-width: 767px) {
	.lead__title {
		font-size: 60px;
		line-height: 1em;
		margin-bottom: 10px;
		padding: 0 16px;
	}
}

@media screen and (max-width: 449px) {
	.lead__title {
		font-size: 40px;
		line-height: 1.1em;
		margin-bottom: 10px;
		padding: 0 16px;
	}
}