.video__title {
	margin: 12px 0 18px 0;
	max-width: 300px;
	font-weight: 900;
	font-size: 36px;
	line-height: 39px;
	position: relative;
	z-index: 1;
}

@media screen and (min-width: 450px) and (max-width: 768px) {
	.video__title {
		max-width: 288px;
		max-height: 54px;
		font-size: 24px;
		line-height: 26px;
		margin: 8px 0 12px 0;
	}
}

@media screen and (max-width: 449px) {
	.video__title {
		font-size: 24px;
		line-height: 26px;
		margin: 8px 0 5px 0;
	}
}