@import url('__link/footer__link.css');

.footer__item {
	margin-right: 18px;
	font-size: 24px;
	line-height: 41px;
	transition: opacity .7s ease;
}

.footer__item:hover {
	opacity: .7;
}

.footer__item:last-child {
	margin-right: 0;
}

@media screen and (min-width: 521px) and (max-width: 768px) {
	.footer__item {
		font-size: 16px;
		line-height: 27px;
	}
}

@media screen and (max-width: 520px) {
	.footer__item {
		margin: 0 0 32px 0;
	}

	.footer__item:last-child {
		margin: 0;
	}
}