@import url('__author/comment__author.css');
@import url('__image/comment__image.css');
@import url('__quote/comment__quote.css');

.comment {
	max-width: 382px;
	margin-right: 19px;
	display: flex;
	flex-direction: column;
}

.comment:last-child {
	margin-right: 0;
}

@media screen and (min-width: 769px) and (max-width: 1280px) {
	.comment {
		max-width: 296px;
	}
}

@media screen and (min-width: 450px) and (max-width: 768px) {
	.comment {
		align-items: center;
		margin: 0 auto 47px;
	}

	.comment:last-child {
		margin: 0 auto;
	}
}


@media screen and (max-width: 449px) {
	.comment {
		align-items: center;
		margin: 0 auto 47px;
	}

	.comment:last-child {
		margin: 0 auto;
	}
}